* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.App {
  background-color: white;
}

main {

  margin: 110px 0 50px
}

.App-logo {
  height: 80px;
}

.Box-sections ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.Box-ItemListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Title-itemListContainer,
.title-cartpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.Cart-widget {
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cart-item-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;

}

.cart-item-detail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.cart-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}

.checkout-item-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  text-align: center;
  line-height: 17px;
  color: white;
  font-weight: bold;
}

.card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}


.card-img {
  object-fit: contain;
  height: 30vh;
}




.lorem{
  color:lightblue ;
}

.footer-text {
color: #fff;
}

.content {
  flex: 1;
  padding-bottom: 100px;
  /* Agrega padding o margen superior e inferior para separar el contenido del footer */
}


.footer {
  background-color: #1a1a1a;
  padding: 20px 0;
  text-align: center;
  position: relative;
  /* Asegura que el footer quede pegado en la parte inferior */
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}


.footer-link {
color: #00bfff;
}

.footer-link:hover {
color: #fff;
}
