.login-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.message-error-login {
  color: rgb(165, 4, 4);
}

.hidden {
  display: none;
}

.separator {
  width: 250px;
  height: 1px;
  background-color: #ccc;
  margin: 5px
}

